@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/ceti.jfif" alt="CETI Logo" class="img-fluid mb-4" style="max-width: 300px;" />

    <h1 class="display-4">Welcome to the storage system</h1>

    <div class="mt-4">
        <p class="lead">Explore our platform and manage your tasks with ease.</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mr-3" asp-page="/AccessSite/LogIn">Log In</a>
            <a class="btn btn-success btn-lg" asp-page="/AccessSite/SignUp">Sign Up</a>
        </div>
    </div>
</div>

