@page
<div class="container">
    <h1 class="display-4">Professor CRUD Menu</h1>

    <div class="d-inline-block">
        <form method="get" action="/Users/Professors/CRUD/ViewProfessors">
            <button type="submit" class="btn btn-primary">View Professors</button>
        </form>
    </div>

    <div class="d-inline-block">
        <form method="get" action="/Users/Professors/CRUD/UpdateProfessor">
            <button type="submit" class="btn btn-primary">Update Professor</button>
        </form>
    </div>

    <div class="d-inline-block">
        <form method="get" action="/Users/Professors/CRUD/DeleteProfessor">
            <button type="submit" class="btn btn-primary">Delete Professor</button>
        </form>
    </div>
</div>
