@page
@using AutoGens
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@{
    ViewData["Title"] = "View My Students Requests";
    //await Html.RenderPartialAsync("Functions.cshtml");
}
<h1>@ViewData["Title"]</h1>

@functions
{
    byte Status {get; set;}
    int RequestId {get; set;}
    string? Username {get; set;}
    string? Nip {get; set;}
    string? Message {get; set;}
    public void OnGet(string? action, int RequestId, string Username, string Nip)
    {
        Model.Username = Username;
        if(Model.Username is not null)
        {
            if(Nip is not null)
            {
                Model.Nip = Nip;
                bool test = VerifyNipExistenceProf(Model.Nip, Model.Username);
                if(test == true)
                {
                    Model.Message = "Incorrect Confirmation Nip";
                }
                else
                { 
                    if(action == "approve")
                    {
                        Model.Status = 1;
                    }
                    else if(action == "deny")
                    {
                        Model.Status = 2;
                    } 
                }
            }
        }
    }

    public static bool VerifyNipExistenceProf(string Nip, string ProfessorId)
    {
        using(bd_storage db = new())
        {
            IQueryable<Professor> prof = db.Professors
            .Where(r => r.Nip == Functions.EncryptPass(Nip))
            .Where(r=>r.ProfessorId == Functions.EncryptPass(ProfessorId));
            if(prof is null)
            {
                return false;
            }
            else
            {
                return true;
            }
        }
    }
}

<form method="get" action="/Users/ProfessorActions/ApproveDenyRequest">
    <input type="text" name ="Nip" maxlength="4">
</form>