@page
@using AutoGens
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@{
    ViewData["Title"] = "Return Equipments of a Request from a Student";
}
<h1>@ViewData["Title"]</h1>



