@page
@using AutoGens
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@using System.Globalization;
@using System.Security.Cryptography;
@using System.Text;
@{
    ViewData["Title"] = "Equipments that you have damaged or lost";
    //await Html.RenderPartialAsync("Functions.cshtml");
}
<h1>@ViewData["Title"]</h1>
@functions
{
    string? Username {get; set;}
    public void OnGet(string username)
    {
        Model.Username=username;
    }
}

<form method="post" action="/Listados/EquipmentsD&LStudents.cshtml">
    <input type="hidden" name="username" value="@Model.Username">
</form>