@page
@using Microsoft.EntityFrameworkCore
@using System.Security.Cryptography
@using AutoGens
@{
    Clear();
    ViewData["Title"] = "Login";
    string? rol = null;
    string? username = null;
    bool logged = false;

    if (Request.Method == "POST")
    {
        (logged, rol, username) = IniciarSesion(out string? Rol, Request.Form["username"], Request.Form["password"]);
        if (logged)
        {
            // Redirigir a la página principal del usuario según su rol
            if (rol == "students")
            {
                TempData["Username"] = username;
                Response.Redirect("/Users/Students/StudentsPrincipal");
            }
            else if (rol == "professors")
            {
                TempData["Username"] = username;
                Response.Redirect("/Users/Professors/ProfessorPrincipal");
            }
            else if( rol == "storers")
            {
                TempData["Username"] = username;
                Response.Redirect("/Users/Storer/StorerPrincipal");
            }
            else if( rol == "coordinators")
            {
                TempData["Username"] = username;
                Response.Redirect("/Users/Coordinator/CoordinatorPrincipal");
            }
        }
    }
}

<div class="container">
    <h1 class="display-4">Login</h1>

    <form method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required />
        </div>

        <div class="form-group">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" class="form-control" required />
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <a class="btn btn-warning" style="margin-top: 5px;" asp-page="/Password.Recovery">Forgot Password</a>

    @if (Request.Method == "POST" && !logged)
    {
        <div class="alert alert-danger mt-3" role="alert">
            Login failed. Please check your username and password.
        </div>
    }
</div>

@functions {
    public static (bool logged, string? rol, string username) IniciarSesion(out string? Rol, string username, string password)
    {
        using (bd_storage db = new())
        {
            Console.WriteLine("Write your ID: ");
            string? encyptUsr = Functions.EncryptPass(username);

            Console.WriteLine("Write your password: ");
            string pass = Functions.EncryptPass(password);

            string idUser = "studentId";
            while (true)
            {
                if (idUser == "studentId")
                {
                    IQueryable<Student>? students = db.Students
                        .Where(s => s.StudentId == username && s.Password == pass);

                    if (students is null || !students.Any())
                    {
                        idUser = "professorId";
                        Rol = null;
                    }
                    else
                    {
                        Rol = "students";
                        return (true, Rol, username);
                    }
                }
                else if (idUser == "professorId")
                {
                    IQueryable<Professor>? professors = db.Professors
                        .Where(p => p.ProfessorId == encyptUsr && p.Password == pass);

                    if (professors is null || !professors.Any())
                    {
                        idUser = "storerId";
                        Rol = null;
                    }
                    else
                    {
                        Rol = "professors";
                        return (true, Rol, username);
                    }
                }
                else if (idUser == "storerId")
                {
                    IQueryable<Storer>? storers = db.Storers
                        .Where(s => s.StorerId == encyptUsr && s.Password == pass);
                    if (storers is null || !storers.Any())
                    {
                        idUser = "coordinatorId";
                        Rol = null;
                    }
                    else
                    {
                        Rol = "storers";
                        return (true, Rol, username);
                    }
                }
                else if (idUser == "coordinatorId")
                {
                    IQueryable<Coordinator>? coordinators = db.Coordinators
                        .Where(s => s.CoordinatorId == encyptUsr && s.Password == pass);
                    if (coordinators is null || !coordinators.Any())
                    {
                        Rol = null;
                        idUser = "none";
                        break;
                    }
                    else
                    {
                        Rol = "coordinators";
                        return (true, Rol, username);
                    }
                }
            }

            Rol = null;
            return (true, Rol, username);
        }
    }
}
